
$gray: #DEE7E7;
$dkGray: #2E363F;
$electric: #1768AC;
$inactive: #465761;
$roboto: 'Roboto', sans-serif;
$sunflower: 'Sunflower', sans-serif;

body {
    background-color: $gray;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

button {
    background-color: $electric;
    height: 50px;
    border: none;
    color: $gray;
    font-size: 18px;
    font-family: $sunflower;
    font-weight: 300;
    outline: none;
    cursor: pointer;
}

input {
    border: solid 1.25px $gray;
    background: none;
    height: 40px;
    width: 89%;
    outline: none;
    font-family: $sunflower;
    font-size: 16px;
    font-weight: 300;
    padding-left: 10px;
    box-sizing: border-box;
}

input:focus {
    border-color: $electric;
}

input, select, textarea {
    color: $gray;
}

button:disabled,
button[disabled]{
  background-color: $inactive;
  color: $dkGray;
}

@media (min-width:500px){
    button {
        height: 60px;
        font-size: 24px;
    }
  }