@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

$gray: #DEE7E7;
$mint: #06A77D;
$dkGray: #2E363F;
$electric: #1768AC;

body {
    background-color: $gray;
    font-family: 'Open Sans', sans-serif;
    // color: $gray;
}

.user-individual {
    margin: 40px;
    background-color: $gray;
    width: 300px;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: solid 5px black;
        position: relative;
        bottom: 40px;
    }
}

.search-container {
    h1 {
        font-size: 28px;
        color: $gray;
    }
    input {
        border: solid 1px $gray;
        background: none;
        height: 30px;
        width: 250px;
        outline: none;
    }
    input:focus {
        border-color: $mint;
    }
}

.main-result-container {
    border: solid 2px green;
    display: flex;
    flex-wrap: wrap;
  }