.main-result-container {
    // border: solid 1px green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-individual {
    border: solid 3px $dkGray;
    margin: 20px;
    background-color: $dkGray;
    border-radius: 15px;
    width: 320px;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    div:nth-child(1) {
        width: 100%;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        height: 45%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    h3 {
        width: 100%;
        height: 65px;
        font-family: $roboto;
        background-color: #EDF1F1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 28px;
        font-weight: 300;
        color: $dkGray;
    }
}

.hobby-container {
    width: 80%;
    display: grid;
    grid-template-columns: 40% 60%;
    font-family: $roboto;
    color: $gray;
}