

.top-section-main-container {
    width: 60vw;
    height: 500px;
    background-color: $dkGray;
    border-radius: 5px;
    margin: auto;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-add-button-container {
    height: 100px;
    width: 80%;
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
}